html {
    width: 100%;
}
.body {
    background-image: url(img/img3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    background-image: url(img/img1.jpg);

}