html {
    width: 95%;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.body {
    background-image: url(img/img3.jpg);
    background-repeat: no-repeat;
    width: 104%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-image: url(img/img1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-self: center;
}

.nav__list__link--decoration {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-decoration: underline;
}

.header__h1 {
    font-size: 400%;
    margin-bottom: -1%;
}

.container1 {
    width: 95%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.container1__text {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 130%;
}

.container1__text {
    width: 300px;
}
.container1__img--size {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}